In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
from scipy import stats
from scipy.stats import t

In [22]:
#leemos los datos meteorologicos
df= pd.read_csv("master.csv",engine="python")

In [23]:
df.head()

,ï»¿country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [24]:
df.dtypes

ï»¿country             object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [25]:
df1=df.loc[df['ï»¿country']=='Mexico']

In [26]:
df1=df1.loc[df1['year']==2015]

In [27]:
#df1.groupby(['sex','age']).agg({'suicides_no':'sum'})
df1

,ï»¿country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
16924,Mexico,2015,male,25-34 years,1195,10243158,11.67,Mexico2015,NaN,"1,169,622,672,463",10228,Millenials
16925,Mexico,2015,male,15-24 years,1347,11676480,11.54,Mexico2015,NaN,"1,169,622,672,463",10228,Millenials
16926,Mexico,2015,male,75+ years,163,1427654,11.42,Mexico2015,NaN,"1,169,622,672,463",10228,Silent
16927,Mexico,2015,male,35-54 years,1560,15181008,10.28,Mexico2015,NaN,"1,169,622,672,463",10228,Generation X
16928,Mexico,2015,male,55-74 years,584,6465941,9.03,Mexico2015,NaN,"1,169,622,672,463",10228,Boomers
16929,Mexico,2015,female,15-24 years,484,11354811,4.26,Mexico2015,NaN,"1,169,622,672,463",10228,Millenials
16930,Mexico,2015,female,25-34 years,267,10079012,2.65,Mexico2015,NaN,"1,169,622,672,463",10228,Millenials
16931,Mexico,2015,female,35-54 years,303,15940497,1.90,Mexico2015,NaN,"1,169,622,672,463",10228,Generation X
16932,Mexico,2015,female,55-74 years,88,7021916,1.25,Mexico2015,NaN,"1,169,622,672,463",10228,Boomers
16933,Mexico,2015,male,5-14 years,137,11790898,1.16,Mexico2015,NaN,"1,169,622,672,463",10228,Generation Z
16934,Mexico,2015,female,5-14 years,95,11261292,0.84,Mexico2015,NaN,"1,169,622,672,463",10228,Generation Z
16935,Mexico,2015,female,75+ years,11,1915217,0.57,Mexico2015,NaN,"1,169,622,672,463",10228,Silent

In [28]:
#df2=df1[df1['sex']=='male']

In [29]:
#df2

In [36]:
df3=df1.suicides_no.groupby([df1.sex, df1.age]).sum().unstack().fillna(0).astype(int)

In [37]:
df3

age,15-24 years,25-34 years,35-54 years,5-14 years,55-74 years,75+ years
sex,,,,,,
female,484,267,303,95,88,11
male,1347,1195,1560,137,584,163